@import url(“styles/header.css”);

:root {
    --cor-de-fundo: #FFFF
}

body {
    background-color: var(--cor-de-fundo);
}

h1 {
    background-color: #FFC0CB;
}

.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(/img/Menu.svg);
    display: inline-block;
}